.atwho-view{
  position:absolute;
  top:0;
  left:0;
  display:none;
  margin-top:18px;
  background:#222222;
  color:#AAAAAA;
  border: 1px solid #2A2A2A;
  border-radius:3px;
  box-shadow: 0px 0px 8px #1b1919;
  min-width:120px;
  z-index:11110!important;
  padding: 4px;
  margin-bottom: 100px;
}
.atwho-view .atwho-header{
  padding:5px;
  margin:5px;
  cursor:pointer;
  color:#6f8092;
  font-size:11px;
  font-weight:700
}
.atwho-view .atwho-header .small{
  color:#6f8092;
  float:right;
  padding-top:2px;
  margin-right:-5px;
  font-size:12px;
  font-weight:400
}
.atwho-view .atwho-header:hover{
  cursor:default
}
.atwho-view .cur{
  background:#3875D7;
  color:#fff;
  border-radius:3px;
}
.atwho-view .cur small{
  color:#fff
}
.atwho-view strong{
  color:#CDCDCD
}
.atwho-view .cur strong{
  color:#fff;
  font:700
}
.atwho-view ul{
  list-style:none;
  padding:0;
  margin:auto;
  max-height:200px;
  overflow-y:auto
}
.atwho-view ul li img{
  margin-right: 5px;
  max-height: 20px;
  width: auto;
}
.atwho-view ul li{
  display:block;
  padding:5px;
  border-bottom:1px solid #2A2A2A;
  cursor:pointer
}
.atwho-view ul li:last-of-type{
  border: none;
}
.atwho-view small{
  font-size:smaller;
  color:#777;
  font-weight:400
}
.atwho-view:nth-of-type(2) .cur{
  background:#2b2b2ba6;
}
.atwho-view:nth-of-type(2) strong{
  color: inherit;
  text-decoration: underline;
}
.atwho-view:nth-of-type(2) .cur strong{
  color:inherit;
}
.atwho-view:nth-of-type(2) .registered_rank strong{
  color: #fff;
}
span.at {
  color: inherit;
  background: none;
}
#shoutbox a[href$="member.php?action=profile&uid=707074"]>span {
  
  position:relative;
  background:url(https://static.cracked.to/images/bg1.gif), linear-gradient(178deg, #ffd700, #ff2a00, #ffd700);
  background-size:100%, 600% 600%;
  font-weight:bold;
  -webkit-animation:AnimationName 4s ease infinite;
  -moz-animation:AnimationName 4s ease infinite;
  animation:AnimationName 4s ease infinite;
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
  border-bottom:1px dotted #ffd700
}

@keyframes AnimationName {
	0% {
		background-position: 48% 0%;
		border-bottom: 1px dotted #ff2a00
	}

	50% {
		background-position: 53% 100%;
		border-bottom: 1px dotted #ffd700
	}

	100% {
		background-position: 48% 0%;
		border-bottom: 1px dotted #ff2a00
	}
}

.sparkles {
	background: url(https://static.cracked.to/images/bg1.gif)
}

@keyframes gradient-text {
	0% {
		background-position: 0% 50%
	}

	25% {
		background-position: 100% 50%
	}

	50% {
		background-position: 75% 25%
	}

	75% {
		background-position: 25% 75%
	}

	100% {
		background-position: 0% 50%
	}
}

@keyframes glitch-effect {
	0% {
		clip: rect(25px, 9999px, 65px, 0);
		-webkit-filter: brightness(0.5);
		filter: brightness(0.5)
	}

	5% {
		clip: rect(41px, 9999px, 4px, 0);
		filter: brightness(0.5);
		filter: brightness(0.5)
	}

	10% {
		clip: rect(52px, 9999px, 15px, 0);
		filter: brightness(0.5);
		filter: brightness(0.5)
	}

	40% {
		clip: rect(12px, 9999px, 2px, 0);
		filter: brightness(0.5);
		filter: brightness(0.5)
	}

	45% {
		clip: rect(16px, 9999px, 71px, 0);
		filter: brightness(0.5);
		filter: brightness(0.5)
	}

	100% {
		clip: rect(92px, 9999px, 78px, 0);
		filter: brightness(0.5);
		filter: brightness(0.5)
	}
}

@keyframes hueanim {
	from {
		-webkit-filter: hue-rotate(0deg)
	}

	to {
		-webkit-filter: hue-rotate(360deg)
	}
}

#shoutbox a[href$="member.php?action=profile&uid=2734070"]>span {
  color: #fa3300;
  -webkit-text-fill-color: #fa3300;
  text-shadow: 0px 0px 3px #fa3300;
  background: url(https://i.imgur.com/EabrU5G.gif);
  background-size: 100%;
}

